<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password</title>
  </head>
  <body>
    <div class="reset-container">
      <h2>Set New Password</h2>
      <form id="reset-form">
        <input type="hidden" id="reset-token" value="<%= token %>" />
        <input
          type="password"
          id="password"
          placeholder="New Password"
          required
          minlength="8"
        />
        <button type="submit">Update Password</button>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/resetPass.js"></script>
  </body>
</html>
