body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Image/resized-background.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

ul {
  list-style: none;
}

/* INTRO */

.intro {
  /* background-color: aquamarine; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 900px;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}
.intro h1 {
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 42px;
  word-spacing: 5px;
}
.intro p {
  font-size: 26px;
  font-family: "Merriweather", serif;
}

/* HEADER */

.header {
  background-color: rgba(153, 153, 153, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 190px;
  margin-right: 190px;
  padding-right: 30px;
}

.left-header {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  transition: 500ms;
}
.hamburger-button {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}
.left-header a {
  text-decoration: none;
  color: white;
  transition: 300ms;
}
.left-header a:hover {
  background-color: white;
  color: black;
}
.left-header span {
  padding-right: 42px;
  padding-left: 42px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 900;
  letter-spacing: 3px;
}
/* #span-white {
  background-color: white;
  color: black;
} */
.right-header {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
.right-header a {
  text-decoration: none;
}

.right-header i {
  padding: 12px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 4px;
  color: white;
  transition: 300ms;
}
.right-header i:hover {
  color: black;
  background-color: white;
}

/* Container */

.container {
  margin-left: 190px;
  margin-right: 190px;
  background-color: white;
}

/* First Container*/

.first-container {
  padding: 170px 170px 128px 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  font-size: 21px;
  font-family: "Merriweather", georgia, serif;
  font-weight: 0;
}
.first-container img {
  height: 100%;
  width: 100%;
  transition: 500ms;
}
.first-container img:hover {
  transform: scale(1.05);
}
.first-container h1 {
  font-size: 84px;
  text-align: center;
}
.first-container h1:hover {
  color: #18bfef;
}
.first-container p {
  font-size: 21px;
  text-align: center;
  font-style: italic;
  margin-top: 0;
}

.first-container-button {
  border: 3px solid black;
  background-color: transparent;
  padding: 0;
  margin: 30px 20px;
  font-size: 15px;
  font-weight: 700;
  width: 150px;
  height: 60px;
}

.first-container-button:hover,
.second-container-button:hover {
  border: 3px solid #18bfef;
  color: #18bfef;
}

/* SECOND CONTAINER */

.second-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(114, 111, 111, 0.1);
  padding: 80px;
  text-align: center;
}

.subcontainer img {
  width: 100%;
  transition: 500ms;
}

.subcontainer img:hover {
  transform: scale(1.05);
}
.subcontainer h2 {
  text-transform: uppercase;
  line-height: 1.8;
}
.subcontainer p {
  text-align: left;
  font-size: 21px;
  margin: 42px 0;
  line-height: 2;
}
.second-container-button {
  border: 3px solid black;
  background-color: transparent;
  padding: 0;
  margin: 30px 20px;
  font-size: 15px;
  font-weight: 700;
  width: 150px;
  height: 60px;
}
/* FOOTER */

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-left {
  display: flex;
  flex-direction: column;

  padding: 85px 85px 42px;
}

.footer-left-name {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  margin-bottom: 20px;
}
.footer-left-email {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  margin-bottom: 20px;
}
.footer-left-message {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 20px;
  border-color: #690505;
}
.footer-left-message textarea {
  width: 100%;
  box-sizing: border-box;
  border: solid 2px;
  background: transparent;
  border: solid 2px;
  color: #e2e2e2;
  padding: 0 1rem;
  font-family: "Merriweather", Georgia, serif;
  line-height: 2.375;
  outline: 0;
}
.footer-left-name,
.footer-left-email,
.footer-left-message label {
  color: #717981;
  font-weight: 600;
  font-size: 18px;
}

input {
  appearance: none;
  background: transparent;
  box-sizing: border-box;
  border: solid 2px;
  color: #e2e2e2;
  display: block;
  outline: 0;
  padding: 0 1rem;
  text-decoration: none;
  width: 100%;
  font-family: "Merriweather", Georgia, serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 2.375;
}

.footer-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: #717981;
}
.footer-right p {
  font-size: 18px;
}
.footer-right-adress {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 45px 64px;
}

.footer-right-phone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 45px 64px;
}

.footer-right-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 45px 64px;
}
.footer-right-social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 45px 64px;
}

.footer-right-social ul {
  display: flex;
  justify-content: flex-start;

  gap: 20px;
  padding: 0;
}

@media screen and (max-width: 1536px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-right {
    display: grid;
    grid-template-columns: 1fr;
  }
  .header,
  .container {
    margin-left: 110px;
    margin-right: 110px;
  }
  .first-container {
    padding: 128px 128px 96px;
  }

  .subcontainer {
    padding: 64px;
  }

  @media screen and (max-width: 1280px) {
    .intro {
      margin: 0px 90px;
    }
    .header {
      height: 50px;
    }

    .header,
    .container {
      margin-left: 90px;
      margin-right: 90px;
    }

    .first-container {
      padding: 80px 80px 98px 80px;
    }

    .second-container {
      display: grid;
      grid-template-columns: 1fr;
    }
    .right-header {
      /* display: none; */
    }
  }

  @media screen and (max-width: 1024px) {
    .intro {
      margin: 0px 20px;
    }
    .header,
    .container {
      margin-left: 60px;
      margin-right: 60px;
    }
    .left-header {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: rgba(153, 153, 153, 0.6);
      
      padding: 20px 0;
    }
    .left-header.is-open {
      position: absolute;
      display: flex;
      flex-direction: row;
    }
    .left-header a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      transition: 300ms;
    }
    .left-header a:hover {
      background-color: transparent;
      color: rgb(156, 5, 5);
    }

    .hamburger-button {
      display: block;
    }
    .first-container {
      padding: 44px 44px;
    }
    .subcontainer {
      padding: 44px;
    }
    .footer-left {
      padding: 65px 65px 32px;
    }
  }
}
@media screen and (max-width: 768px) {
  .header,
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .first-container {
    padding: 24px 24px;
  }
  .subcontainer {
    padding: 24px;
  }
  .footer-left {
    padding: 46px 46px 32px;
  }
  .footer-right-adress,
  .footer-right-email,
  .footer-right-phone,
  .footer-right-social {
    padding: 45px 46px;
  }
}

@media screen and (max-width: 640px) {
  .footer-right-adress,
  .footer-right-email,
  .footer-right-phone,
  .footer-right-social {
    padding: 10px 46px;
  }
}
